<h1>About the Application</h1>
<br>
<p>
	This application is the next version of the FLL Scoring Application written in c++, now located at
	<a href="#"><u>FLL Scoring Application</u>.</a>
	The goal of this project is to have a fully contained web application developed using the ruby on rails framework. It was developed in conjunction with sqlite in development and postgresql in production.
</p>

<br/><br/>

<p>
	The application was developed by two University of Houston students:
	<li>Christopher Cruz: Lead Software Developer
		<ul>
			<li><a href="http://www.christophercruz.net">More Info</a></li>
		</ul>
	</li>
	<li>Muhammad Naviwala: Software Developer
		<ul>
			<li>Place Holder for link to personal website</li>
		</ul>
	</li>
</p>
