<center>
	<h1>Edit Robot Dsign</h1>
	<h2>Team Number: <%= @robot_design.team_number %></h2>
</center>
<br>

<%= render 'form' %>

<%= link_to 'Show', @robot_design %> |
<%= link_to 'Back', robot_designs_path %>
