@import "bootstrap";


/****************** universal table formatting /******************/
.table th,
.table td {
  white-space: nowrap;
  overflow: hidden;
}

.table th {
  text-align: center;
}



/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: #999;
  
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #eee;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #eee;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #049cdb;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #eee;
    &:last-child {
      border-bottom: 1px solid #eee;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: #999;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.testimonialcontent {
	height:10px;
	width:10px;	
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.row {
  padding-left: 10px;
  margin-left: -20px;
  *zoom: 1;
}

//Change carousel arrow visability on hover
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

//change table hover color
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #Caf7F5;
}

//For editing the search bar
.navbar-search .search-query {
  padding: 4px 14px;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

//Change link & hover color on navbar
.navbar .brand, .navbar .nav > li > a {
    color: #FFFFFF;
}
.navbar .brand, .navbar .nav > li > a:hover {
    color: #D64848;
}

//Align table data to the left, change th to target tag
.table th {
   text-align: left;   
}

.btn-custom-blue {
  background-color: hsl(220, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0054ff", endColorstr="#003299");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0054ff), to(#003299));
  background-image: -moz-linear-gradient(top, #0054ff, #003299);
  background-image: -ms-linear-gradient(top, #0054ff, #003299);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0054ff), color-stop(100%, #003299));
  background-image: -webkit-linear-gradient(top, #0054ff, #003299);
  background-image: -o-linear-gradient(top, #0054ff, #003299);
  background-image: linear-gradient(#0054ff, #003299);
  border-color: #003299 #003299 hsl(220, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-custom-red {
  background-color: hsl(0, 69%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db3d3d", endColorstr="#961b1b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#db3d3d), to(#961b1b));
  background-image: -moz-linear-gradient(top, #db3d3d, #961b1b);
  background-image: -ms-linear-gradient(top, #db3d3d, #961b1b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #db3d3d), color-stop(100%, #961b1b));
  background-image: -webkit-linear-gradient(top, #db3d3d, #961b1b);
  background-image: -o-linear-gradient(top, #db3d3d, #961b1b);
  background-image: linear-gradient(#db3d3d, #961b1b);
  border-color: #961b1b #961b1b hsl(0, 69%, 30%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}


/************************************* Round about carousel start *************************************/
#roundabout_carousel {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 672px;
  height: 448px;
}

#roundabout_carousel li {
  height: 384px;
  width: 704px;
  text-align: center;
  cursor: pointer;
}

#roundabout_carousel li img {
  width: 100%;
}

#roundabout_carousel li.roundabout-in-focus {
  cursor: default;
}

#roundabout_carousel li span {
  display: block;
  padding-top: 96px;
}

#rounabout_heading {
  colspan: 5;
  color: 'red'
}
/************************************* Round about carousel end *************************************/

