<center>
	<h1>Edit Core Value</h1>
	<h2>Team Number: <%= @core_value.team_number %></h2>
</center>
<br>

<%= render 'form' %>

<%= link_to 'Show', @core_value %> |
<%= link_to 'Back', core_values_path %>
